@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-image: url('/assets/back.png'); /* Correct path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    color: #3E3B3A;
  }

  /* .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
  .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
  .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  } */
  .h1, .h2, .h3, p, span {
    color: #292522;
  }
  .text-outline {
    -webkit-text-stroke: 1px #9e9e9e;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px #292522;
  }

  .h1:hover, .h2:hover, .h3:hover, p:hover, span:hover {
    color: #292522;
    transition: color 0.3s ease-in-out;
  }
  .text-outline {
    -webkit-text-stroke: 2px #757575;
  }

  #home {
 /* Correct path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
